<section class="testimonials_bundle animation_testimonial_{{ content.field_testimonial_animation }}" >
	<div class="container animation_testimonial_{{ content.field_testimonial_animation }}">
		<section class="text-center">
		{%  if true in content.field_testimonial_header[0] %}
		<h1>{{ content.field_testimonial_header }}</h1>
		{% endif %}

		{%  if true in content.field_testimonial_text[0] %}
		<p class="lead">{{ content.field_testimonial_text }}</p>
		{% endif %}
		</section>
		<section class="card-deck">
			{{ content.field_testimonial_widget[i] }}
		</section>
	</div>
</section>
