<section class="webform_bundle">
    <aside class="left">
        <section class="webform">
          {%  if true in content.field_cavalla_wf_intro_title %}
            <h1>{{ content.field_cavalla_wf_intro_title }}</h1>
          {% endif %}
          {%  if true in content.field_cavalla_wf_intro_text %}
            <p class="lead">{{ content.field_cavalla_wf_intro_text }}</p>
          {% endif %}
          <section class="my-4">{# {{ content.[0] }} #}</section>
        </section>
    </aside>
    <aside class="right">
        {{ content.field_cavalla_wf_map }}
        <div class="contactInfo">
          <address>
            <h1>{{ content.field_cavalla_wf_company_name }}</h1>
            <p>
              <b><u>Address</u></b></br>
              {{ content.field_cavalla_wf_address_street }}</br>
              {{ content.field_cavalla_wf_address_city }},{{ content.field_cavalla_wf_address_state }} {{ content.field_cavalla_wf_address_zipcode }}</br>
            </p>
             <p>
              <b><u>Hours</u></b></br>
               {{ content.field_cavalla_wf_work_hours }}
             </p>
             <p>
              <b><u>Email</u></b> </br>
              <a href="mailto:{{ content.field_cavalla_wf_email }}?subject=Inquiry">{{ content.field_cavalla_wf_email }}</a>
            </p>
            <p>
              <b><u>Telephone</u></b></br>
              {{ content.field_cavalla_wf_telephone }}
            </p>
            {{ content.field_cavalla_wf_link }}
          </address>
        </div>
    </aside>
</section>